.CodeMirror {
    background-color: #f8f9fa;
    min-height:60vh;
}
.editor{
  float:left;
  width:60%;
  min-height:90%;
  border: 1px solid gray;
}

.outputs{ 
  float:left;
  width:39%;

}
.container {
  margin-left:auto; margin-right:auto; 
  width:95%;
}
.container:after {
  content:"";
  display:table;
  clear:both;
}
.output{
  width:60%;
  min-height:90%;
  border: 1px solid gray;
}
